<!DOCTYPE html>
<html>

  <head>
    <title>Python Flask File Storage Application</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Arun Balchandran">
    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- <link rel="stylesheet" href="static/stylesheets/style.css"> -->
  </head>

  <body>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
      <a class="navbar-brand" href="#">File Storage Application</a>
    </nav>

    <div class="container">
      <div class="starter-template">
        <h1>Upload and download files in this test application</h1>
        <form method="post" enctype="multipart/form-data" role="form" id="uploadForm" class="form-inline my-2 my-lg-0" style="float: right;">
          <label for="choosefile">
            <span class="glyphicon glyphicon-folder-open" aria-hidden="true" style="margin: 8px;"></span>
            <input type="file" id="choosefile" style="display:none">
          </label>
          <input type="submit" value="Upload" class="form-control">
        </form>
        <p class="lead">Use the upload button to add a file to the table and the download button to download the particular file.</p>
      </div>
    </div><!-- /.container -->

    <div class="container">
      <form method="post" action="{{ url_for('DownloadDeleteFiles') }}" class="form-group">
        <input type="submit" name="Delete" value="Delete selected file" class="form-control">
        <input type="submit" name="Download" value="Download selected file" class="form-control">
        <table class="table">
          <tr>
            <th>Name</th>
            <th>Bytes</th>
            <th>Last Modified</th>
            <th>Select File</th>
          </tr>
          {% for dataelement in files_data %}
              <tr>
                <td>{{ dataelement['name'] }}</td>
                <td>{{ dataelement['bytes'] }}</td>
                <td>{{ dataelement['last_modified'] }}</td>
                <td><input type="radio" name="selectedfiles" value="{{ dataelement['name'] }}"></td>
              </tr>
          {% endfor %}
        </table>
      </form>
    </div>
  </body>
  <script>
    $(document).ready(function() {
        $("#uploadForm").submit(function(event) {
            event.preventDefault();
            var formData = new FormData($("#uploadForm")[0]);
            $.ajax({
                type: "POST",
                url: "{{ url_for('Welcome') }}",
                data: formData,
                contentType: false,
                cache: false,
                processData: false,
                async: true,
                success: function(result) {
                    console.log('Successfully uploaded file to container.');
                    window.location.href = "{{ url_for('Welcome') }}";
                },
                error: function(result) {
                    console.log(result);
                }
            });
        });
    });
   </script>
</html>
